* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 234, 217);
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.country__input-form {
  padding: 5rem;
}

.container.active {
  width: 25rem;
  height: 39rem;
  box-shadow: 1rem 1rem 2rem black;
  align-items: flex-end;
  background-color: rgb(229, 236, 241);
}

.country__data {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.country {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  width: 100%;
  margin-top: .5rem;
  background-color: rgb(101, 142, 204);
  color: aliceblue;
  border-radius: 10px;
  box-shadow: .5rem .5rem 1rem black;
}

.submit-btn:hover {
  transform: translateY(-2px);
}

.submit-btn:active {
  transform: translateY(.5px);
}

.country__flag {
  background-position: center;
  background-size: cover;
  width: 100%;

}

.country__name {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.country__region {
  margin: .7rem 0;
  font-size: 1.5rem;
}

.country__row {
  margin: .5rem 0;
  font-size: 1.3rem;
}

